---
http_interactions:
- request:
    method: post
    uri: http://test.billink.nl/api/check
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>2</WORKFLOWNUMBER><ACTION>Check</ACTION><TYPE>P</TYPE><COMPANYNAME>Acme
        Corp.</COMPANYNAME><CHAMBEROFCOMMERCE>01234567</CHAMBEROFCOMMERCE><FIRSTNAME>John</FIRSTNAME><LASTNAME>Doe</LASTNAME><INITIALS>J.A.</INITIALS><SEX>M</SEX><STREET>Damrak</STREET><CITY>Amsterdam</CITY><HOUSENUMBER>1</HOUSENUMBER><HOUSEEXTENSION></HOUSEEXTENSION><POSTALCODE>1234AB</POSTALCODE><PHONENUMBER>0612345678</PHONENUMBER><BIRTHDATE>01-01-1990</BIRTHDATE><EMAIL>john@example.com</EMAIL><ORDERAMOUNT>1</ORDERAMOUNT></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' ?><API><RESULT>MSG</RESULT><MSG><CODE>500</CODE><DESCRIPTION>Advies=1</DESCRIPTION></MSG><UUID>4a456cdc-f888-4a7d-b0ad-6e33df8a4447</UUID></API>"
  recorded_at: Sat, 13 Sep 2014 10:55:03 GMT
- request:
    method: post
    uri: http://test.billink.nl/api/order
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>1</WORKFLOWNUMBER><ACTION>Order</ACTION><ORDERNUMBER>O2014.05.28.2443</ORDERNUMBER><TYPE>P</TYPE><DATE>13-09-2014</DATE><CHECKUUID>4a456cdc-f888-4a7d-b0ad-6e33df8a4447</CHECKUUID><COMPANYNAME>Acme
        Corp.</COMPANYNAME><CHAMBEROFCOMMERCE>01234567</CHAMBEROFCOMMERCE><FIRSTNAME>John</FIRSTNAME><LASTNAME>Doe</LASTNAME><INITIALS>J.A.</INITIALS><SEX>M</SEX><STREET>Damrak</STREET><CITY>Amsterdam</CITY><HOUSENUMBER>1</HOUSENUMBER><HOUSEEXTENSION></HOUSEEXTENSION><POSTALCODE>1234AB</POSTALCODE><PHONENUMBER>0612345678</PHONENUMBER><BIRTHDATE>01-01-1990</BIRTHDATE><EMAIL>john@example.com</EMAIL><ORDERAMOUNT>1</ORDERAMOUNT><DELIVERYSTREET>P.C.
        Hooftstraat</DELIVERYSTREET><DELIVERYHOUSENUMBER>34</DELIVERYHOUSENUMBER><DELIVERYHOUSENUMBEREXTENSION>b</DELIVERYHOUSENUMBEREXTENSION><DELIVERYPOSTALCODE>1012
        BQ</DELIVERYPOSTALCODE><DELIVERYCOUNTRYCODE>NL</DELIVERYCOUNTRYCODE><DELIVERYCITY>Amsterdam</DELIVERYCITY><DELIVERYADDRESSCOMPANYNAME>Acme
        Corp.</DELIVERYADDRESSCOMPANYNAME><DELIVERYADDRESSFIRSTNAME>John</DELIVERYADDRESSFIRSTNAME><DELIVERYADDRESSLASTNAME>Doe</DELIVERYADDRESSLASTNAME><ORDERITEMS><ITEM><CODE>FX1337</CODE><DESCRIPTION>Flux
        capacitor 1</DESCRIPTION><ORDERQUANTITY>2</ORDERQUANTITY><ITEM_QUANTITY>1</ITEM_QUANTITY><PRICEEXCL>20</PRICEEXCL><PRICEINCL>24.2</PRICEINCL><BTW>21</BTW></ITEM><ITEM><CODE>FX1337</CODE><DESCRIPTION>Flux
        capacitor 2</DESCRIPTION><ORDERQUANTITY>2</ORDERQUANTITY><ITEM_QUANTITY>1</ITEM_QUANTITY><PRICEEXCL>20</PRICEEXCL><PRICEINCL>24.2</PRICEINCL><BTW>21</BTW></ITEM></ORDERITEMS></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' ?><API><RESULT>MSG</RESULT><MSG><CODE>200</CODE><DESCRIPTION>Order
        successfully added</DESCRIPTION><INVOICE>1TSTO2014-05-28-2443</INVOICE></MSG></API>"
  recorded_at: Sat, 13 Sep 2014 10:55:03 GMT
recorded_with: VCR 2.9.0
