---
http_interactions:
- request:
    method: post
    uri: http://test.billink.nl/api/status
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>2</WORKFLOWNUMBER><ACTION>Status</ACTION><INVOICES><ITEM><workflownumber>2</workflownumber><invoicenumber>20140714-2231</invoicenumber></ITEM><ITEM><workflownumber>2</workflownumber><invoicenumber>20140630-2203</invoicenumber></ITEM></INVOICES></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8' ?><API>
          <RESULT>MSG</RESULT>
          <MSG>
            <CODE>200</CODE>
            <INVOICES>
                <INVOICE>
                  <INVOICENUMBER></INVOICENUMBER>
                  <STATUS>-1</STATUS>
                  <DESCRIPTION>Order not found</DESCRIPTION>
                </INVOICE>

            </INVOICES>
          </MSG>
        </API>
  recorded_at: Sat, 13 Sep 2014 10:55:04 GMT
recorded_with: VCR 2.9.0
