---
http_interactions:
- request:
    method: post
    uri: http://test.billink.nl/api/check
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>2</WORKFLOWNUMBER><ACTION>Check</ACTION><TYPE>P</TYPE><COMPANYNAME>Acme
        Corp.</COMPANYNAME><CHAMBEROFCOMMERCE>01234567</CHAMBEROFCOMMERCE><FIRSTNAME>John</FIRSTNAME><LASTNAME>Doe</LASTNAME><INITIALS>J.A.</INITIALS><HOUSENUMBER>1</HOUSENUMBER><HOUSEEXTENSION></HOUSEEXTENSION><POSTALCODE>1234AB</POSTALCODE><PHONENUMBER>0612345678</PHONENUMBER><BIRTHDATE>01-01-1990</BIRTHDATE><EMAIL>john@example.com</EMAIL><ORDERAMOUNT>1</ORDERAMOUNT></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' ?><API><RESULT>MSG</RESULT><MSG><CODE>500</CODE><DESCRIPTION>Advies=1</DESCRIPTION></MSG><UUID>33fcefe1-8acb-4e8e-bf57-0572894444dc</UUID></API>"
  recorded_at: Thu, 22 May 2014 22:04:00 GMT
recorded_with: VCR 2.9.0
