---
http_interactions:
- request:
    method: post
    uri: http://test.billink.nl/api/check
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>2</WORKFLOWNUMBER><ACTION>Check</ACTION><TYPE>P</TYPE><COMPANYNAME>Acme
        Corp.</COMPANYNAME><CHAMBEROFCOMMERCE>01234567</CHAMBEROFCOMMERCE><FIRSTNAME>John</FIRSTNAME><LASTNAME>Doe</LASTNAME><INITIALS>J.A.</INITIALS><SEX>M</SEX><STREET>Damrak</STREET><CITY>Amsterdam</CITY><HOUSENUMBER>1</HOUSENUMBER><HOUSEEXTENSION></HOUSEEXTENSION><POSTALCODE>1234AB</POSTALCODE><PHONENUMBER>0612345678</PHONENUMBER><BIRTHDATE>01-01-1990</BIRTHDATE><EMAIL>john@example.com</EMAIL><ORDERAMOUNT>1</ORDERAMOUNT></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' ?><API><RESULT>MSG</RESULT><MSG><CODE>500</CODE><DESCRIPTION>Advies=1</DESCRIPTION></MSG><UUID>1c66c1fc-a8fb-4025-b80b-7a511d445aec</UUID></API>"
  recorded_at: Wed, 16 Jul 2014 21:25:02 GMT
- request:
    method: post
    uri: http://test.billink.nl/api/order
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>1</WORKFLOWNUMBER><ACTION>Order</ACTION><ORDERNUMBER>O2014.05.28.2439</ORDERNUMBER><TYPE>P</TYPE><DATE>16-07-2014</DATE><CHECKUUID
        xsi:nil=\"true\"/><COMPANYNAME>Acme Corp.</COMPANYNAME><CHAMBEROFCOMMERCE>01234567</CHAMBEROFCOMMERCE><FIRSTNAME>John</FIRSTNAME><LASTNAME>Doe</LASTNAME><INITIALS>J.A.</INITIALS><SEX>M</SEX><STREET>Damrak</STREET><CITY>Amsterdam</CITY><HOUSENUMBER>1</HOUSENUMBER><HOUSEEXTENSION></HOUSEEXTENSION><POSTALCODE>1234AB</POSTALCODE><PHONENUMBER>0612345678</PHONENUMBER><BIRTHDATE>01-01-1990</BIRTHDATE><EMAIL>john@example.com</EMAIL><ORDERAMOUNT>1</ORDERAMOUNT><DELIVERYSTREET>P.C.
        Hooftstraat</DELIVERYSTREET><DELIVERYHOUSENUMBER>34</DELIVERYHOUSENUMBER><DELIVERYHOUSENUMBEREXTENSION>b</DELIVERYHOUSENUMBEREXTENSION><DELIVERYPOSTALCODE>1012
        BQ</DELIVERYPOSTALCODE><DELIVERYCOUNTRYCODE>NL</DELIVERYCOUNTRYCODE><DELIVERYCITY>Amsterdam</DELIVERYCITY><DELIVERYADDRESSCOMPANYNAME>Acme
        Corp.</DELIVERYADDRESSCOMPANYNAME><DELIVERYADDRESSFIRSTNAME>John</DELIVERYADDRESSFIRSTNAME><DELIVERYADDRESSLASTNAME>Doe</DELIVERYADDRESSLASTNAME><ORDERITEMS><ITEM><CODE>FX1337</CODE><DESCRIPTION>Flux
        capacitor 1</DESCRIPTION><ORDERQUANTITY>2</ORDERQUANTITY><ITEM_QUANTITY>1</ITEM_QUANTITY><PRICEEXCL>39.9</PRICEEXCL><PRICEINCL>47.48</PRICEINCL><BTW>21</BTW></ITEM><ITEM><CODE>FX1337</CODE><DESCRIPTION>Flux
        capacitor 2</DESCRIPTION><ORDERQUANTITY>2</ORDERQUANTITY><ITEM_QUANTITY>1</ITEM_QUANTITY><PRICEEXCL>39.9</PRICEEXCL><PRICEINCL>47.48</PRICEINCL><BTW>21</BTW></ITEM></ORDERITEMS></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' ?><API><RESULT>ERROR</RESULT><ERROR><CODE>441</CODE><DESCRIPTION>Missing
        CHECKUUID. Please use Check API to receive CHECKUUID for Product type 3 order.</DESCRIPTION></ERROR></API>"
  recorded_at: Wed, 16 Jul 2014 21:25:02 GMT
recorded_with: VCR 2.9.0
