---
http_interactions:
- request:
    method: post
    uri: http://test.billink.nl/api/start-workflow
    body:
      encoding: UTF-8
      string: "<API><VERSION>BILLINK2.0</VERSION><CLIENTUSERNAME>usertest</CLIENTUSERNAME><CLIENTID>d38a3439590889df026367bf01d621e687b8d278</CLIENTID><WORKFLOWNUMBER>2</WORKFLOWNUMBER><ACTION>activate
        order</ACTION><INVOICES><ITEM><INVOICENUMBER>I2014.001.234</INVOICENUMBER><WORKFLOWNUMBER>2</WORKFLOWNUMBER></ITEM></INVOICES></API>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8' ?><API><RESULT>ERROR</RESULT><ERROR><CODE>704</CODE><DESCRIPTION>Unknown
        invoice number: I2014.001.234</DESCRIPTION></ERROR></API>"
  recorded_at: Tue, 16 Sep 2014 06:35:51 GMT
recorded_with: VCR 2.9.0
